*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
    color: #4a536b;
}


/* barre de navigation */

nav {
    top: 0;
    font-style: italic;
    position: fixed !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #4a536b;
    box-shadow: inset 0 -3px 0px #aed6dc;
    z-index: 1;
}


/* icon de la barre */

.nav-icon {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 20px;
}

.nav-icon span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 400;
    color: #ff9abd;
}

.nav-icon img {
    width: 100px;
    transform: scale(1);
    transition: transform 0.4 ease-in-out;
    border-radius: 50%;
}

.nav-icon img:hover {
    transform: scale(1.5);
}


/* lien de la barre*/

.hamburger {
    display: none;
    /* bouton pour le responsive apparait sur petit ecran*/
}

.nav-link-container a {
    margin: 0 10px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    color: #ff9abd;
    display: inline-block;
    position: relative;
}


/* creation du pseudo element pour le survol */

.nav-link-container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #aed6dc;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}


/* survol des liens */

.nav-link-container a:hover::after {
    transform: scaleX(1);
}


/* parallax */

.parallax {
    width: 100%;
    background-attachment: fixed !important;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    height: 250px;
    background: url("../images/chemin.jpg");
}


/* grid des sections */

.container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    background-color: #f5f5f5;
    padding: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.image img {
    text-align: center;
    border: solid 5px #aed6dc;
    border-radius: 50%;
    box-shadow: #4a536b 10px 10px 20px;
    height: 350px;
    width: 435px;
}


/* La propriété background-clip garantit que l'arrière-plan ne s'étend pas au-delà d'un élément - dans ce cas, le texte. 
L'accessoire de couleur est défini sur transparent afin de voir l'arrière-plan directement */

.header {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: #4a536b 10px 10px 20px;
    font-style: italic;
    background-image: linear-gradient(to right, #ff9abd, #aed6dc, #4a536b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    grid-column: span 2;
}


/* footer */

footer {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #4a536b;
    border-top: solid 3px #aed6dc;
    justify-content: center;
}

footer a {
    text-decoration: none;
    font-style: italic;
    font-size: 18px;
    color: #ff9abd;
    margin-top: 40px;
}


/* slider accueil */

.slider1 {
    overflow: hidden !important;
}

.slider1 .slider {
    display: flex;
    animation: slider1 12s infinite ease-in-out;
}

@keyframes slider1 {
    0%,
    20% {
        transform: translateX(0);
    }
    25%,
    45% {
        transform: translateX(-100%);
    }
    50%,
    70% {
        transform: translateX(-200%);
    }
    75%,
    95% {
        transform: translateX(-300%);
    }
    100% {
        transform: translateX(-400%);
    }
}

.slider1 h1 {
    flex-shrink: 0;
    width: 100%;
}


/* position accueil #id */

.id {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    height: 250px;
}